.home__language {
  .title-cm {
    padding-bottom: 16px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
  }
  .list-language {
    position: relative;
    padding-bottom: 38px;
    &::before {
      position: absolute;
      content: '';
      width: 960px;
      height: 0.5px;
      bottom: 0;
      background: #e5e5e5;
      @include media(1024px) {
        content: none;
      }
    }
    .btn-loadmore {
      font-size: 14px;
      padding: 6px 34px;
      border: 1px solid #cccccc;
      border-radius: 50px;
      position: absolute;
      bottom: -16px;
      right: 0;
      img {
        margin-left: 15px;
      }
    }
  }
  .row {
    .col-4 {
      width: calc(100% / 12 * 4);
      &:nth-child(n + 4) {
        margin-top: 40px;
      }
      @include media(540px){
          width: 100%;
          &:nth-child(n + 2) {
            margin-top: 30px;
          }
      }
    }
  }
  .content {
    img {
      margin-bottom: 10px;
      border-radius: 6px;
      box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.16);
    }
    &__title {
      font-size: 18px;
      line-height: (20/18);
      font-weight: normal;
      margin-bottom: 15px;
      @include media(768px){
          font-size: 16px;
      }
    }
    &__describe {
      color: #7f7f7f;
      line-height: (20/12);
      margin-bottom: 12px;
    }
  }
}
